<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634503482176-krou35jbfg83mmsmdjf56nt71trqpdsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634503482176-krou35jbfg83mmsmdjf56nt71trqpdsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAlY0PPIFi46NRrd69b4odxgmqO4i0Yf6E</string>
	<key>GCM_SENDER_ID</key>
	<string>634503482176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yayat.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-and-profil</string>
	<key>STORAGE_BUCKET</key>
	<string>login-and-profil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634503482176:ios:83b8f10035fc62a4cd88a5</string>
</dict>
</plist>